body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #FFFFFF;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo .ad,
.logo .u,
.logo .pay {
  font-size: 64px; /* Increased font size */
  font-weight: bold;
}

.logo .ad {
  color: #273992;
  margin-right: -1400px; /* Adjusted margin to bring closer to the logo */
}

.logo .logo-icon {
  height: 100px; /* Increased logo size */
  margin: 0 -20px; /* Adjusted margin to bring closer to the "AD" and "U" */
}

.logo .u,
.logo .pay {
  color: #4A90E2;
}
